// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Variables for fonts
$font-family: 'Poppins', sans-serif;

// Variables for colors
$color-aqua: #A9D6CB;
$color-blue: #264065;
$color-black: #070D15;
$color-grey: #909090;

$bg-white: #FAF8F5;